#GO1__App {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 410px;
  z-index: 99999999;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}